{% load static %}
<html>
<head>
<title>Removing of Multiple Votes by using De-Duplication Analysis</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Removing Multiple Votes by using De-duplication analysis. A web application to detect, analyze and eliminate duplicate voter records." />
<meta name="keywords" content="remove duplicates project, removing multiple votes by using de-duplication analysis, voter deduplication, duplicate voter removal" />
<meta name="robots" content="index, follow" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Removing of Multiple Votes by using De-Duplication Analysis</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'index' %}">Home</a></li>
	    <li><a href="{% url 'Login' %}">User Login</a></li>
      <li><a href="{% url 'Register' %}">New User Signup Here</a></li>
			
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="130" alt="" />
	</div>
	<br/>
	<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
		Removing of Multiple Votes by using De-Duplication Analysis.

</p>
</body>
</html>
